version: '3.8'

services:
  fastapi-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    env_file: .env
    environment:
      - PYTHONPATH=/app
    volumes:
      - .:/app
