fastapi[standard]
uvicorn
pydantic
python-multipart
sqlmodel
asyncpg
python-dotenv

shapely
rtree
networkx
numpy
scipy
httpx
python-dateutil
pyproj

sqlalchemy
alembic
pydantic-settings
geopandas
fiona
aiohttp
pytz
structlog